.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  // scale: 0.1;
  pointer-events: none;
}

.invisible {
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0;
  z-index: 1;
}
