.footer-contacts__list {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  &:visited,
  & {
    @include font((Roboto, sans-serif), normal, 400, 14px, (24 / 14), 0.03em);
    color: var(--white-color);
    @include transition(color);
  }
}

.footer-contacts__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts__link--white {
  color: var(--address-color);
}
