.footer-social {
  display: flex;
  flex-direction: column;
  @extend %center-child;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin-right: 74px;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
  
}
.footer-social__header {
  @include font((Roboto, sans-serif), normal, 700, 14px, (16 / 14), 0.03em);
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
