.header-nav {
  display: flex;
  align-items: center;
}

.logo.header-logo {
  @media screen and (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 15px;
  }
}

.header-nav__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }

  // @media screen and (min-width: 1200px) {
  //   // width: 1200px;
  // }
  // 
}

.header {
  .header-nav__link {
    @include font((Roboto, sans-serif), normal, 500, 14px, (16 / 14), 0.02em);
    display: inline-block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 25px;
    @media screen and (min-width: 768px) {
      &:not(:first-child) {
        margin-left: 0px;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-left: 25px;
    }
    @include transition(color);
  }
}

.header-nav__link::after {
  content: "";
  width: 100%;
  @include transition(height);
  display: inline-block;
  height: 0;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 4px;
}

.header-nav__link {
  &:hover,
  &:focus,
  &--active {
    @include font((Roboto, sans-serif), normal, 500, 14px, (16 / 14), 0.02em);
    color: var(--accent-color);
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      position: absolute;
      right: 0;
      bottom: -2px;
      border-radius: 4px;
    }
  }
}
