// Project card
.project-card {
  background: var(--white-color);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  @extend %center-child;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 354px;

    &:first-child .project-card__footer {
      padding-bottom: 56px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    & .project-card__footer {
      padding-bottom: 20px;
    }
  }
}

.projects {
  .project-card:nth-child(n) {
    margin-top: 30px;
  }
}

.project-card__link {
  display: inline-block;
  @include transition(box-shadow);
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background-color: var(--accent-color-overlay);
  display: block;
  @include transition(top);
  display: flex;
  @extend %center-child;
  padding-left: 24px;
  padding-right: 24px;
}

.project-card__link:hover,
.project-card__link:focus {
  .project-card__overlay {
    top: 0;
  }
}

.project-card__description {
  @include font(Roboto, normal, 400, 18px, (28 / 18), 0.03em);
  color: var(--white-color);
}

.project-card__link:hover,
.project-card__link:focus {
  box-shadow: 0px 1px 1px var(--black-012opacity), 0px 4px 4px var(--black-008opacity),
    1px 4px 6px var(--black-015opacity);
}

.project-card__name {
  @include font((Roboto, sans-serif), normal, 700, 18px, (36 / 18), 0.06em);
  color: var(--text-color-main);
  margin-bottom: 4px;
}

.project-card__type {
  @include font((Roboto, sans-serif), normal, 400, 16px, (30 / 16), 0.03em);
  color: var(--text-color-secondary);
}

.project-card__footer {
  padding: 20px 24px;
  border-right: 1px solid var(--white-border-color);
  border-bottom: 1px solid var(--white-border-color);
  border-left: 1px solid var(--white-border-color);
  // @media screen and (min-width: 768px) and (max-width: 768px) {
  //   &:first-child
  // }
}
